[submodule "addons/2026_04_27_gdp_oled_128x64"]
	path = addons/2026_04_27_gdp_oled_128x64
	url = https://github.com/EloiStree/2026_04_27_gdp_oled_128x64.git
[submodule "addons/2026_06_29_gdp_text_byte_in_out_layer_ws_rsa"]
	path = addons/2026_06_29_gdp_text_byte_in_out_layer_ws_rsa
	url = https://github.com/EloiStree/2026_06_29_gdp_text_byte_in_out_layer_ws_rsa.git
[submodule "addons/2025_10_28_gdp_trusted_websocket"]
	path = addons/2025_10_28_gdp_trusted_websocket
	url = https://github.com/EloiStree/2025_10_28_gdp_trusted_websocket.git
[submodule "addons/2025_10_27_gdp_udp_in_out_gate"]
	path = addons/2025_10_27_gdp_udp_in_out_gate
	url = https://github.com/EloiStree/2025_10_27_gdp_udp_in_out_gate
